.electronics{
    display: flex;
    margin: 2rem 4rem;
    max-width: 1180px;
    // height: 257px;
    // background-color: white;
    // border: 1px solid rgb(216, 216, 216);
.electronics-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    background-color: white;
    // border: 1px solid rgb(216, 216, 216);
    

    .items{
        display: flex;
        border: 1px solid rgb(216, 216, 216);
        padding: 1rem;
        gap: 2rem;
        align-content: center;
        list-style: none;

        .image-container{
            width: 60px;
            img{
                width: 100%;
            }
        }
        .item-details{
           
         
        }
    }
    }
}
   